  /* Fonts */  

@font-face {
  font-family: 'KonstantGrotesk';
  src: url('assets/fonts/KonstantGrotesk-Book.otf');
}

@font-face {
  font-family: 'Inter', Arial, sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
}

/*    Global    */

* {
  box-sizing: border-box;
}

body {
  min-width: 600px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-image: linear-gradient(90deg, rgb(185, 185, 202), rgb(255, 255, 255));
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none; /* убрал подчеркивание */
  color: black;
}

a:hover {
  text-shadow: darkgrey 5px 5px 4px;
}

img { /* Все картинки растягиваются в рамках контейнера */
  max-width: 100%; 
  height: auto;
}

i {
  color: rgb(143, 143, 143);
}

/* .main-navigation, .main-profile, .main-container, .section-main, .logo, .profile, .main-footer {
  outline: 2px dotted #999; 
  outline-offset: -2px;
} */

/*   NAV   */

.main-navigation {
  display: block;
  /* grid-template-columns: 1fr min-content; */ /* займи все свободное место */
  width: 940px; /* ширина макс блока из фигмы */
  margin: 0 auto; /* блок по центру */
  padding: 0 10px;
  margin-bottom: 60px;
}
 
.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  list-style: none; /* Убрал точки у списков */
  font-size: 16px;
}


/*   MAIN   */

.html-page {
  height: 100%; /* Высота по всей странице */
}

.body-page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  counter-reset: section;
}

.main-container { /* фул блок МЭЙНА */
  width: 940px; /* мин. ширина проекта */
  margin: 0 auto; /* блок по центру */
  padding: 0 10px; /* небольшой отступ для контента */
}

.main-profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 30px;
}

.profile {
  width: 600px;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

h1 {
  font-family: 'KonstantGrotesk';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 32px;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* соотношение для деления блоков */
  /*column-gap: 10px; расстояние между блоками */
  grid-gap: 50px;
}

.section-main {
  width: 300px;
  margin-top: 15px;
}

h2 {
  font-family: 'KonstantGrotesk'; 
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.section-title::after { /*  Счетчик в секциях  */
  counter-increment: section; 
  content: "0"counter(section);
  text-align: right;
  float:right;
}

.section-title:hover::after {
  content: "00"
}

.contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-list, .education-list {
  padding-left: 20px;
}

code {
  background-color: rgb(213, 213, 228);
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

/*   Footer   */

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 940px;
  padding: 20px;
}


.footer-rs {
  width: 120px;
  filter: invert(20%);
}




