  /* Fonts */  

@font-face {
  font-family: 'KonstantGrotesk';
  src: url('assets/fonts/KonstantGrotesk-Book.otf');
}

@font-face {
  font-family: 'Inter', Arial, sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
}

/*    Global    */

body {
  min-width: 600px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
/* background-image: linear-gradient(45deg, rgb(175, 175, 175), white); */
}

a {
  text-decoration: none; /* убрал подчеркивание */
  color: black;
}

a:hover {
  text-shadow: darkgrey 5px 5px 4px;
}

img { /* Все картинки растягиваются в рамках контейнера */
  max-width: 100%; 
  height: auto;
}

/*   NAV   */

.navigation-list {
  list-style: none; /* убрал точки у списков */
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/*   MAIN   */

h1 {
  font-family: 'KonstantGrotesk';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 32px;
}

.section-title {
  font-family: 'KonstantGrotesk'; 
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
}

.contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}



code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}






